{% if form.non_field_errors %}<p class="error">{{ form.non_field_errors|join:", " }}</p>{% endif %}

<form method="post" action="{% url contest_entry %}">
	<ul>
		{% for field in form %}
		<li>
			{% if field.errors %}<p class="error">{{ field.errors|join:", " }}</p>{% endif %}
			{{ field.label_tag }}
			{{ field }}
		</li>
		{% endfor %}
		<li class="padded"><a href="{% url contest_rules %}" id="ContestRulesLink">Click here for contest rules</a></li>
		<li class="padded"><input type="image" src="{{ MEDIA_URL }}images/btn-enter.png" value="ENTER" /></li>
	</ul>
</form>
