<p>DUNK THE MOVIE, WIN A TRIP TO THE 2011 NBA ALL STAR GAME SWEEPSTAKES</p>

<p>Introduction: DUNK THE MOVIE are offering the Online Sweepstakes (“Sweepstakes”). NO PURCHASE NECESSARY. A PURCHASE DOES NOT IMPROVE YOUR CHANCE OF WINNING. VOID WHERE PROHIBITED.</p>

<p>2. Eligibility: Entrant must be 18 as of March 1, 2010 and a resident of Canada, the fifty (50) United States and the District of Columbia. Employees of Sponsors, the Sponsors’ parents, subsidiaries, affiliated companies, and agents and the immediate family (defined as parents, spouse, children, siblings, grandparents) of each such employees, and all those with whom such employees are domiciled, areNOT eligible.</p>

<p>3. Timing: Sweepstakes begins at 12:00:01 a.m. E.T. on Monday, March 1, 2010 and ends at 11:59:59 p.m. E.T. on Tuesday, November 30, 2010.</p>

<p>4. How to Enter: Visit <a href="http://www.dunkthemovie.com">http://www.dunkthemovie.com</a> and fill in required entry information. Individuals may enter this Sweepstakes by filling out the online form only</p>