<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<title>Dunk | {% block title %}How The Jam Changed Basketball{% endblock %}</title>
	
	<link rel="shortcut icon" href="{{ MEDIA_URL }}images/favicon.ico" />
	
	<style type="text/css" media="all">
		@import url("{{ MEDIA_URL }}css/reset.css");
		@import url("{{ MEDIA_URL }}css/screen.css");
	</style>

	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.min.js"></script>
	
</head>

<body id="top" class="{% block class %}{% endblock %}">
	
	<div id="Container">
		
		<a href="/" id="Header"><img src="{{ MEDIA_URL }}images/header.png" alt="The definitive movie about the DUNK. Now in production." /></a>
		
		<div id="Content">
			{% block content %}
			<div id="LeftColumn" class="{% block left_column_class %}contest{% endblock %}">{% block left_column %}{% endblock %}</div>
			<div id="RightColumn" class="{% block right_column_class %}{% endblock %}">{% block right_column %}{% endblock %}</div>
			{% endblock %}
		</div>
		
	</div>
	
	<ul id="ShareLinks">
		<li>SHARE:</li>
		<li><a href="http://www.youtube.com/watch?v=5ZWpeBrT49U"><img src="{{ MEDIA_URL }}images/btn-youtube.png" alt="Share on YouTube" /></a></li>
		<li><a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fdunkthemovie.com&t=Dunk+The+Movie"><img src="{{ MEDIA_URL }}images/btn-facebook.png" alt="Share on Facebook" /></a></li>
		<li><a href="http://twitter.com/home/?status=http%3A%2F%2Fdunkthemovie.com"><img src="{{ MEDIA_URL }}images/btn-twitter.png" alt="Share on twitter" /></a></li>
		<li><a href="http://digg.com/submit?phase=2&url=http%3A%2F%2Fdunkthemovie.com&title=Dunk+The+Movie"><img src="{{ MEDIA_URL }}images/btn-digg.png" alt="Share on digg" /></a></li>
		<li><a href="http://delicious.com/save?url=http%3A%2F%2Fdunkthemovie.com&title=Dunk+The+Movie"><img src="{{ MEDIA_URL }}images/btn-delicious.png" alt="Share on delicious" /></a></li>
	</ul>
	
	<script type="text/javascript" charset="utf-8">
	//<![CDATA[
		$("#ShareLinks img").hover(function() {
			$(this).stop().animate({
				"opacity": 1.0
			});
		}, function() {
			$(this).stop().animate({
				"opacity": 0.5
			});
		});
	//]]>
	</script>

</body>
</html>